/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Beginnig of Styles */
:root {
  --color-primary: #0891b2;
  --color-font-sub: #4e4e4d;
}

.bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--color-primary);
  height: min(50vw, 1000px);
  clip-path: polygon(0 0, 0 100%, 100% 50%, 100% 0);
}

.header-content {
  display: flex;
  margin: 85px auto;
  width: min(90%, 1700px);
  align-items: center;
}

.header-image {
  max-width: 725px;
  height: auto;
  aspect-ratio: 10 / 11;
  position: relative;
  box-shadow: 0 0 10px 1px gray;
  flex: 1.5;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-image h1 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 4rem;
}

.about-me {
  margin-top: 100px;
  margin-bottom: 75px;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
  padding: 36px;
  padding-top: 48px;
  flex: 1;
}

.about-me h2 {
  font-size: 3rem;
}

.about-me p {
  padding: 40px 0;
  font-size: clamp(1.3rem, 2vw, 2rem);
  color: var(--color-font-sub);
}

.about-icons {
  display: flex;
  height: 2.25rem;
  justify-content: right;
  gap: 2rem;
  margin-top: 12px;
}

@media (max-width: 1000px) {
  .header-content {
    display: block;
    width: 80%;
    margin-top: 150px;
  }
  .header-image {
    float: left;
    margin-left: -10%;
    margin-top: -15%;
    margin-right: 12px;
    width: 45vw;
  }
  .header-image h1 {
    font-size: clamp(2.4rem, 7vw, 4rem);
    width: max-content;
    top: 5px;
    right: -100%;
  }
  .about-me h2 {
    font-size: clamp(2.2rem, 5vw, 3rem);
    text-align: center;
  }
  .about-me p {
    padding: 12px 0;
  }
}